# Data Wrangling and Analysis

#### This is the process of wrangling through the data we have and bring out insights available. 

#### Our prime aim of this phase is to analyise the entire dataset and bring out powerful insights which can help us to make out ML model better.

### Importing the libraries

In [32]:
import pandas as pd
import numpy as np

### Reading dataset to a dataframe

In [33]:
df_chunk = pd.read_csv("../dataset/combined.csv",nrows=1000)

# initial dataset has around 36 lakh rows so for easy wrangling to understand about the unwanted columns we take a chunk of dataset.

### Wrangling data

In [34]:
df = df_chunk.copy()

In [35]:
df.head()

,pkSeqID,stime,flgs,flgs_number,proto,proto_number,saddr,sport,daddr,dport,...,AR_P_Proto_P_DstIP,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,AR_P_Proto_P_Sport,AR_P_Proto_P_Dport,Pkts_P_State_P_Protocol_P_DestIP,Pkts_P_State_P_Protocol_P_SrcIP,attack,category,subcategory
0,1,1.528089e+09,e,1,tcp,1,192.168.100.147,49960,192.168.100.7,80,...,1.12704,96,75,1.133720,1.129970,770,602,1,DoS,HTTP
1,2,1.528089e+09,e,1,arp,2,192.168.100.7,-1,192.168.100.147,-1,...,15267.20000,1,2,0.005142,0.005142,2,6,1,DoS,HTTP
2,3,1.528089e+09,e,1,tcp,1,192.168.100.147,49962,192.168.100.7,80,...,1.12704,96,75,1.135100,1.129970,770,602,1,DoS,HTTP
3,4,1.528089e+09,e,1,tcp,1,192.168.100.147,49964,192.168.100.7,80,...,1.12704,96,75,1.135140,1.129970,770,602,1,DoS,HTTP
4,5,1.528089e+09,e,1,tcp,1,192.168.100.147,49966,192.168.100.7,80,...,1.12704,96,75,1.135260,1.129970,770,602,1,DoS,HTTP

In [36]:
df.columns

Index(['pkSeqID', 'stime', 'flgs', 'flgs_number', 'proto', 'proto_number',
       'saddr', 'sport', 'daddr', 'dport', 'pkts', 'bytes', 'state',
       'state_number', 'ltime', 'seq', 'dur', 'mean', 'stddev', 'sum', 'min',
       'max', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate', 'drate',
       'TnBPSrcIP', 'TnBPDstIP', 'TnP_PSrcIP', 'TnP_PDstIP', 'TnP_PerProto',
       'TnP_Per_Dport', 'AR_P_Proto_P_SrcIP', 'AR_P_Proto_P_DstIP',
       'N_IN_Conn_P_DstIP', 'N_IN_Conn_P_SrcIP', 'AR_P_Proto_P_Sport',
       'AR_P_Proto_P_Dport', 'Pkts_P_State_P_Protocol_P_DestIP',
       'Pkts_P_State_P_Protocol_P_SrcIP', 'attack', 'category', 'subcategory'],
      dtype='object')

In [37]:
df.shape

# for understanding structure of dataset

(1000, 46)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 46 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   pkSeqID                           1000 non-null   int64
 1   stime                             1000 non-null   float64
 2   flgs                              1000 non-null   object
 3   flgs_number                       1000 non-null   int64
 4   proto                             1000 non-null   object
 5   proto_number                      1000 non-null   int64
 6   saddr                             1000 non-null   object
 7   sport                             1000 non-null   int64
 8   daddr                             1000 non-null   object
 9   dport                             1000 non-null   int64
 10  pkts                              1000 non-null   int64
 11  bytes                             1000 non-null   int64
 12  state                             1000 non-null   object
 13  state_number                      1000 non-null   int64
 14  ltime                             1000 non-null   float64
 15  seq                               1000 non-null   int64
 16  dur                               1000 non-null   float64
 17  mean                              1000 non-null   float64
 18  stddev                            1000 non-null   float64
 19  sum                               1000 non-null   float64
 20  min                               1000 non-null   float64
 21  max                               1000 non-null   float64
 22  spkts                             1000 non-null   int64
 23  dpkts                             1000 non-null   int64
 24  sbytes                            1000 non-null   int64
 25  dbytes                            1000 non-null   int64
 26  rate                              1000 non-null   float64
 27  srate                             1000 non-null   float64
 28  drate                             1000 non-null   float64
 29  TnBPSrcIP                         1000 non-null   int64
 30  TnBPDstIP                         1000 non-null   int64
 31  TnP_PSrcIP                        1000 non-null   int64
 32  TnP_PDstIP                        1000 non-null   int64
 33  TnP_PerProto                      1000 non-null   int64
 34  TnP_Per_Dport                     1000 non-null   int64
 35  AR_P_Proto_P_SrcIP                1000 non-null   float64
 36  AR_P_Proto_P_DstIP                1000 non-null   float64
 37  N_IN_Conn_P_DstIP                 1000 non-null   int64
 38  N_IN_Conn_P_SrcIP                 1000 non-null   int64
 39  AR_P_Proto_P_Sport                1000 non-null   float64
 40  AR_P_Proto_P_Dport                1000 non-null   float64
 41  Pkts_P_State_P_Protocol_P_DestIP  1000 non-null   int64
 42  Pkts_P_State_P_Protocol_P_SrcIP   1000 non-null   int64
 43  attack                            1000 non-null   int64
 44  category                          1000 non-null   object
 45  subcategory                       1000 non-null   object
dtypes: float64(15), int64(24), object(7)
memory usage: 359.5+ KB

In [39]:
df.columns

Index(['pkSeqID', 'stime', 'flgs', 'flgs_number', 'proto', 'proto_number',
       'saddr', 'sport', 'daddr', 'dport', 'pkts', 'bytes', 'state',
       'state_number', 'ltime', 'seq', 'dur', 'mean', 'stddev', 'sum', 'min',
       'max', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate', 'drate',
       'TnBPSrcIP', 'TnBPDstIP', 'TnP_PSrcIP', 'TnP_PDstIP', 'TnP_PerProto',
       'TnP_Per_Dport', 'AR_P_Proto_P_SrcIP', 'AR_P_Proto_P_DstIP',
       'N_IN_Conn_P_DstIP', 'N_IN_Conn_P_SrcIP', 'AR_P_Proto_P_Sport',
       'AR_P_Proto_P_Dport', 'Pkts_P_State_P_Protocol_P_DestIP',
       'Pkts_P_State_P_Protocol_P_SrcIP', 'attack', 'category', 'subcategory'],
      dtype='object')

In [40]:
df.flgs

0      e
1      e
2      e
3      e
4      e
      ..
995    e
996    e
997    e
998    e
999    e
Name: flgs, Length: 1000, dtype: object

In [41]:
df.state

0      RST
1      CON
2      RST
3      RST
4      RST
      ...
995    RST
996    RST
997    RST
998    RST
999    RST
Name: state, Length: 1000, dtype: object

In [42]:
df.ltime.value_counts()

1.528089e+09    14
1.528089e+09    13
1.528089e+09    12
1.528089e+09     9
1.528089e+09     8
                ..
1.528089e+09     1
1.528089e+09     1
1.528089e+09     1
1.528089e+09     1
1.528089e+09     1
Name: ltime, Length: 663, dtype: int64

In [43]:
df.seq

0         9
1        10
2        11
3        12
4        13
       ...
995    1004
996    1005
997    1006
998    1007
999    1008
Name: seq, Length: 1000, dtype: int64

In [44]:
df.drop(['pkSeqID', 'stime', 'flgs', 'flgs_number','proto', 'proto_number',
       'saddr', 'sport', 'daddr', 'dport','state','seq','ltime','subcategory','category'], axis=1, inplace=True)

In [45]:
df.columns

Index(['pkts', 'bytes', 'state_number', 'dur', 'mean', 'stddev', 'sum', 'min',
       'max', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate', 'drate',
       'TnBPSrcIP', 'TnBPDstIP', 'TnP_PSrcIP', 'TnP_PDstIP', 'TnP_PerProto',
       'TnP_Per_Dport', 'AR_P_Proto_P_SrcIP', 'AR_P_Proto_P_DstIP',
       'N_IN_Conn_P_DstIP', 'N_IN_Conn_P_SrcIP', 'AR_P_Proto_P_Sport',
       'AR_P_Proto_P_Dport', 'Pkts_P_State_P_Protocol_P_DestIP',
       'Pkts_P_State_P_Protocol_P_SrcIP', 'attack'],
      dtype='object')

In [46]:
df.shape

(1000, 31)

In [47]:
df.describe()

,pkts,bytes,state_number,dur,mean,stddev,sum,min,max,spkts,...,TnP_Per_Dport,AR_P_Proto_P_SrcIP,AR_P_Proto_P_DstIP,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,AR_P_Proto_P_Sport,AR_P_Proto_P_Dport,Pkts_P_State_P_Protocol_P_DestIP,Pkts_P_State_P_Protocol_P_SrcIP,attack
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0
mean,9.274000,1869.395000,1.006000,18.246482,0.856630,0.804729,1.904605,0.136039,1.787086,5.699000,...,921.076000,60.793803,65.872920,74.650000,63.248000,50.090629,38.518740,695.709000,589.821000,1.0
std,1.484968,497.553328,0.077266,50.122024,0.866319,0.734332,1.726297,0.610303,1.522645,1.061851,...,115.383177,881.325166,890.170867,25.314508,27.563785,735.241369,689.582055,244.794687,272.955784,0.0
min,2.000000,120.000000,1.000000,0.000127,0.000017,0.000000,0.000069,0.000000,0.000069,1.000000,...,2.000000,0.003857,0.003857,1.000000,1.000000,0.005142,0.005142,2.000000,2.000000,1.0
25%,8.000000,1556.000000,1.000000,7.035500,0.025027,0.023650,0.050055,0.000000,0.049960,5.000000,...,825.000000,0.385696,0.380003,55.000000,39.000000,0.390772,0.477880,578.000000,375.000000,1.0
50%,10.000000,1711.000000,1.000000,14.035206,0.667312,0.641082,1.988666,0.000081,1.880558,6.000000,...,952.000000,0.712387,0.712387,83.000000,75.000000,0.712533,0.491315,753.000000,628.000000,1.0
75%,10.000000,2152.250000,1.000000,21.495933,1.009226,1.002265,2.551987,0.000258,2.551987,6.000000,...,1000.000000,1.209220,1.127040,96.000000,83.000000,1.148007,1.129970,922.000000,811.000000,1.0
max,22.000000,6999.000000,2.000000,1555.683960,4.911030,2.445529,11.690903,4.911030,4.954470,17.000000,...,1025.000000,15748.000000,15267.200000,100.000000,100.000000,13245.000000,13245.000000,1000.000000,1000.000000,1.0

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   pkts                              1000 non-null   int64
 1   bytes                             1000 non-null   int64
 2   state_number                      1000 non-null   int64
 3   dur                               1000 non-null   float64
 4   mean                              1000 non-null   float64
 5   stddev                            1000 non-null   float64
 6   sum                               1000 non-null   float64
 7   min                               1000 non-null   float64
 8   max                               1000 non-null   float64
 9   spkts                             1000 non-null   int64
 10  dpkts                             1000 non-null   int64
 11  sbytes                            1000 non-null   int64
 12  dbytes                            1000 non-null   int64
 13  rate                              1000 non-null   float64
 14  srate                             1000 non-null   float64
 15  drate                             1000 non-null   float64
 16  TnBPSrcIP                         1000 non-null   int64
 17  TnBPDstIP                         1000 non-null   int64
 18  TnP_PSrcIP                        1000 non-null   int64
 19  TnP_PDstIP                        1000 non-null   int64
 20  TnP_PerProto                      1000 non-null   int64
 21  TnP_Per_Dport                     1000 non-null   int64
 22  AR_P_Proto_P_SrcIP                1000 non-null   float64
 23  AR_P_Proto_P_DstIP                1000 non-null   float64
 24  N_IN_Conn_P_DstIP                 1000 non-null   int64
 25  N_IN_Conn_P_SrcIP                 1000 non-null   int64
 26  AR_P_Proto_P_Sport                1000 non-null   float64
 27  AR_P_Proto_P_Dport                1000 non-null   float64
 28  Pkts_P_State_P_Protocol_P_DestIP  1000 non-null   int64
 29  Pkts_P_State_P_Protocol_P_SrcIP   1000 non-null   int64
 30  attack                            1000 non-null   int64
dtypes: float64(13), int64(18)
memory usage: 242.3 KB

## Insights from chuncked dataset:

1.We only require upto 31 features out of the 46 we have for moachine learning classification.

2.We can see that pkSeqID(sequence id), stime(Record start time), flgs(flag represting letter), flg number,proto,port number, saddr(ip of sender), sport(port of sender), daddr(ip of receiver), dport(ip of receiver),state(we already have state number),seq(Argus sequence number and not required), ltime(record time and not required), subcategory, category (not required as we will later filter it out with 1 and 0 for DDoS alone).These are the basic features captured by wireshark.

3.The columns from 29 to 42 are extracted flow based features from the initial columns.

4.Since we only want DDoS we need to remove all other kinds of attacks except normal and DDoS from the Category column of dataset.

5.