In [1]:
import pandas as pd
import numpy as np

In [2]:
df_orginal = pd.read_csv("../dataset/DDoSdata.csv")

/home/siddharth/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = df_orginal.copy()

In [4]:
df.head()

,Unnamed: 0,pkSeqID,stime,flgs,flgs_number,proto,proto_number,saddr,sport,daddr,...,AR_P_Proto_P_DstIP,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,AR_P_Proto_P_Sport,AR_P_Proto_P_Dport,Pkts_P_State_P_Protocol_P_DestIP,Pkts_P_State_P_Protocol_P_SrcIP,attack,category,subcategory
0,1650261,1650261,1.528103e+09,e,1,tcp,1,192.168.100.150,54110,192.168.100.3,...,1.21662,40,38,1.56093,1.21662,328,308,1,DDoS,HTTP
1,1650262,1650262,1.528103e+09,e,1,tcp,1,192.168.100.150,54112,192.168.100.3,...,1.21662,40,38,1.56107,1.21662,328,308,1,DDoS,HTTP
2,1650263,1650263,1.528103e+09,e,1,tcp,1,192.168.100.150,54114,192.168.100.3,...,1.21662,40,38,1.24980,1.21662,328,308,1,DDoS,HTTP
3,1650264,1650264,1.528103e+09,e,1,tcp,1,192.168.100.150,54116,192.168.100.3,...,1.21662,40,38,1.24986,1.21662,328,308,1,DDoS,HTTP
4,1650265,1650265,1.528103e+09,e,1,tcp,1,192.168.100.150,54118,192.168.100.3,...,1.21662,40,38,1.24991,1.21662,328,308,1,DDoS,HTTP

In [20]:
df.columns

Index(['Unnamed: 0', 'pkSeqID', 'stime', 'flgs', 'flgs_number', 'proto',
       'proto_number', 'saddr', 'sport', 'daddr', 'dport', 'pkts', 'bytes',
       'state', 'state_number', 'ltime', 'seq', 'dur', 'mean', 'stddev', 'sum',
       'min', 'max', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate',
       'drate', 'TnBPSrcIP', 'TnBPDstIP', 'TnP_PSrcIP', 'TnP_PDstIP',
       'TnP_PerProto', 'TnP_Per_Dport', 'AR_P_Proto_P_SrcIP',
       'AR_P_Proto_P_DstIP', 'N_IN_Conn_P_DstIP', 'N_IN_Conn_P_SrcIP',
       'AR_P_Proto_P_Sport', 'AR_P_Proto_P_Dport',
       'Pkts_P_State_P_Protocol_P_DestIP', 'Pkts_P_State_P_Protocol_P_SrcIP',
       'attack', 'category', 'subcategory'],
      dtype='object')

In [68]:
df.rename(columns = {'mean':'average_dur', 'stddev':'stddev_dur', 
                              'sum':'total_dur','min':'min_dur','max':'max_dur'}, inplace = True)

In [69]:
df.shape

(1927101, 47)

In [70]:
df.proto.unique()

array(['tcp', 'arp', 'udp', 'icmp', 'ipv6-icmp'], dtype=object)

In [71]:
df.flgs.value_counts()

e      1129681
e s     778517
e g      17825
e *        809
eU         247
e d         17
e &          5
Name: flgs, dtype: int64

In [72]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
df.stime.value_counts()

1528099338.27983    29
1528099353.01837    29
1528099339.51717    28
1528099327.20760    28
1528099323.15023    28
                    ..
1528102921.38342     1
1528099353.64484     1
1528099337.69590     1
1528099321.76411     1
1526348175.32554     1
Name: stime, Length: 187071, dtype: int64

In [73]:
df.flgs_number.unique()

array([1, 2, 4, 3, 5, 6, 7])

In [74]:
df.saddr.value_counts()[:5]

192.168.100.147    520012
192.168.100.148    494696
192.168.100.150    457002
192.168.100.149    451641
192.168.100.3        3625
Name: saddr, dtype: int64

In [19]:
df.daddr.value_counts()[:5]

192.168.100.3      1923162
192.168.100.147       1340
192.168.100.150       1317
192.168.100.149        583
192.168.100.148        250
Name: daddr, dtype: int64

In [38]:
df.sport.value_counts()[:5]

 80       3496
-1          81
 5353       43
 8612       32
 59552      32
Name: sport, dtype: int64

In [39]:
df.dport.value_counts()[:5]

80      1710165
80       212975
53          251
-1           81
5353         65
Name: dport, dtype: int64

In [43]:
df.pkts.value_counts()

7        296451
6        253330
5        208627
4        190894
8        188133
          ...
14751         1
20881         1
7586          1
3492          1
97            1
Name: pkts, Length: 75, dtype: int64

In [45]:
df.pkts.describe()

count   1927101.00000
mean          7.91394
std         159.19746
min           1.00000
25%           5.00000
50%           7.00000
75%          10.00000
max       70057.00000
Name: pkts, dtype: float64

In [40]:
df.bytes.value_counts()

420         183844
770         159099
480         141146
616         138020
900         135767
             ...
845              1
17131488         1
1587             1
4660             1
3060             1
Name: bytes, Length: 626, dtype: int64

In [42]:
df.bytes.describe()

count    1927101.00000
mean        1126.11307
std       154895.09592
min           60.00000
25%          420.00000
50%          616.00000
75%          780.00000
max     71833345.00000
Name: bytes, dtype: float64

In [47]:
df.state.unique()

array(['RST', 'CON', 'FIN', 'REQ', 'ACC', 'INT', 'URP', 'NRS'],
      dtype=object)

In [50]:
df.state_number.unique()

array([1, 2, 6, 3, 7, 4, 5, 8])

In [51]:
df.ltime

0         1528102927.75104
1         1528102927.75106
2         1528102927.75109
3         1528102927.75111
4         1528102927.75114
                ...
1927096   1526351824.66770
1927097   1526351824.86374
1927098   1526351825.12750
1927099   1526351825.27450
1927100   1526351825.27437
Name: ltime, Length: 1927101, dtype: float64

In [53]:
df.seq.value_counts()

1         11
2         11
41        11
14        11
7         11
          ..
262162     1
262167     1
262168     1
262164     1
262165     1
Name: seq, Length: 262168, dtype: int64

In [55]:
df.dur.value_counts()

0.00000     84317
12.16235      182
12.38465      169
13.96231      167
12.38396      166
            ...
6.40681         1
14.41112        1
13.80980        1
13.40667        1
9.62721         1
Name: dur, Length: 369058, dtype: int64

In [57]:
df.dur.describe()

count   1927101.00000
mean         14.84886
std          12.38456
min           0.00000
25%          12.12153
50%          13.68344
75%          14.54814
max        1940.85925
Name: dur, dtype: float64

In [75]:
df.average_dur.describe()

count   1927101.00000
mean          2.54913
std           1.40456
min           0.00000
25%           2.01583
50%           2.75968
75%           3.65985
max           4.98188
Name: average_dur, dtype: float64

In [76]:
df.stddev_dur.describe()

count   1927101.00000
mean          0.94513
std           0.75185
min           0.00000
25%           0.12290
50%           0.93757
75%           1.69005
max           2.49676
Name: stddev_dur, dtype: float64

In [79]:
df.total_dur.describe()

count   1927101.00000
mean          7.25685
std           8.14079
min           0.00000
25%           4.53265
50%           8.11673
75%          10.52108
max        1913.19360
Name: total_dur, dtype: float64

In [82]:
df.min_dur.describe()

count   1927101.00000
mean          1.30163
std           1.49103
min           0.00000
25%           0.00000
50%           0.16957
75%           2.76341
max           4.98047
Name: min_dur, dtype: float64

In [78]:
df.columns

Index(['Unnamed: 0', 'pkSeqID', 'stime', 'flgs', 'flgs_number', 'proto',
       'proto_number', 'saddr', 'sport', 'daddr', 'dport', 'pkts', 'bytes',
       'state', 'state_number', 'ltime', 'seq', 'dur', 'average_dur',
       'stddev_dur', 'total_dur', 'min_dur', 'max_dur', 'spkts', 'dpkts',
       'sbytes', 'dbytes', 'rate', 'srate', 'drate', 'TnBPSrcIP', 'TnBPDstIP',
       'TnP_PSrcIP', 'TnP_PDstIP', 'TnP_PerProto', 'TnP_Per_Dport',
       'AR_P_Proto_P_SrcIP', 'AR_P_Proto_P_DstIP', 'N_IN_Conn_P_DstIP',
       'N_IN_Conn_P_SrcIP', 'AR_P_Proto_P_Sport', 'AR_P_Proto_P_Dport',
       'Pkts_P_State_P_Protocol_P_DestIP', 'Pkts_P_State_P_Protocol_P_SrcIP',
       'attack', 'category', 'subcategory'],
      dtype='object')