# Data Wrangling and Analysis

#### This is the process of wrangling through the data we have and bring out insights available. 

#### Our prime aim of this phase is to analyise the entire dataset and bring out powerful insights which can help us to make out ML model better.

### Importing the libraries

In [1]:
import pandas as pd
import numpy as np

### Reading dataset to a dataframe

In [2]:
df_original = pd.read_csv("../dataset/total.csv",sep=";")

/home/siddharth/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Wrangling data

In [3]:
df = df_original.copy()

# making an copy of original dataframe

In [4]:
df.head()

# getiing top few portion of dataset

,Unnamed: 0,pkSeqID,proto,saddr,sport,daddr,dport,seq,stddev,N_IN_Conn_P_SrcIP,min,state_number,mean,N_IN_Conn_P_DstIP,drate,srate,max,attack,category,subcategory
0,0,1,tcp,192.168.100.147,49960,192.168.100.7,80,9,0.068909,75,0.000000,1,0.068909,96,14.511893,0.566862,0.137818,1,DoS,HTTP
1,1,2,arp,192.168.100.7,-1,192.168.100.147,-1,10,0.000000,2,0.000131,2,0.000131,1,0.000000,0.000000,0.000131,1,DoS,HTTP
2,2,3,tcp,192.168.100.147,49962,192.168.100.7,80,11,0.064494,75,0.000000,1,0.064494,96,15.505319,0.567549,0.128988,1,DoS,HTTP
3,3,4,tcp,192.168.100.147,49964,192.168.100.7,80,12,0.064189,75,0.000000,1,0.064189,96,15.578993,0.567570,0.128378,1,DoS,HTTP
4,4,5,tcp,192.168.100.147,49966,192.168.100.7,80,13,0.063887,75,0.000000,1,0.063887,96,15.652637,0.567630,0.127774,1,DoS,HTTP

In [5]:
df.columns

# name of columns

Index(['Unnamed: 0', 'pkSeqID', 'proto', 'saddr', 'sport', 'daddr', 'dport',
       'seq', 'stddev', 'N_IN_Conn_P_SrcIP', 'min', 'state_number', 'mean',
       'N_IN_Conn_P_DstIP', 'drate', 'srate', 'max', 'attack', 'category',
       'subcategory'],
      dtype='object')

In [6]:
df.shape

# for understanding structure of dataset

(3668522, 20)

In [43]:
df.category.unique()

# for understanding categories of type of attacks

array(['DoS', 'DDoS', 'Normal', 'Reconnaissance', 'Theft'], dtype=object)

In [42]:
df.subcategory.unique()

# for understanding subcategories of type of attacks

array(['HTTP', 'TCP', 'UDP', 'Normal', 'OS_Fingerprint', 'Service_Scan',
       'Data_Exfiltration', 'Keylogging'], dtype=object)

In [9]:
df.attack.value_counts()

# malicious packets available for classification

1    3668045
0        477
Name: attack, dtype: int64

In [41]:
df.proto.unique()

# for understanding protocols used.

array(['tcp', 'arp', 'udp', 'icmp', 'ipv6-icmp'], dtype=object)

In [11]:
df.saddr.value_counts()

# Bots IP

192.168.100.147              950966
192.168.100.148              923290
192.168.100.150              890262
192.168.100.149              890146
192.168.100.3                  8281
192.168.100.5                  5118
192.168.100.6                   327
192.168.100.7                    43
192.168.100.4                    19
192.168.100.1                    16
192.168.100.46                   15
192.168.100.27                   14
fe80::250:56ff:febe:254           6
fe80::c0c0:aa20:45b9:bdd9         4
192.168.100.55                    3
fe80::250:56ff:febe:26db          2
fe80::250:56ff:febe:c038          2
fe80::250:56ff:febe:e9d9          2
fe80::2c6a:ff9b:7e14:166a         2
fe80::250:56ff:febe:89ee          2
fe80::250:56ff:febe:bf1a          2
Name: saddr, dtype: int64

In [19]:
df.daddr.value_counts().head(10)

# top destination IPs

192.168.100.3      2375733
192.168.100.5       451694
192.168.100.7       414859
192.168.100.6       412209
192.168.100.150       3860
192.168.100.147       3658
192.168.100.149       3111
192.168.100.148       2969
8.8.8.8                 60
192.168.217.2           59
Name: daddr, dtype: int64

In [13]:
df.info()

# understanding type of data in each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3668522 entries, 0 to 3668521
Data columns (total 20 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   pkSeqID            int64
 2   proto              object
 3   saddr              object
 4   sport              object
 5   daddr              object
 6   dport              object
 7   seq                int64
 8   stddev             float64
 9   N_IN_Conn_P_SrcIP  int64
 10  min                float64
 11  state_number       int64
 12  mean               float64
 13  N_IN_Conn_P_DstIP  int64
 14  drate              float64
 15  srate              float64
 16  max                float64
 17  attack             int64
 18  category           object
 19  subcategory        object
dtypes: float64(6), int64(7), object(7)
memory usage: 559.8+ MB

In [14]:
pd.set_option('float_format', '{:f}'.format)
df.describe()

# understanding statistics behind our dataset

,Unnamed: 0,pkSeqID,seq,stddev,N_IN_Conn_P_SrcIP,min,state_number,mean,N_IN_Conn_P_DstIP,drate,srate,max,attack
count,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000
mean,1834260.500000,1834261.500000,121320.416125,0.887150,82.538483,1.017540,3.134390,2.231063,92.451680,0.445505,2.955111,3.020015,0.999870
std,1059011.226452,1059011.226452,75794.283785,0.803714,24.397394,1.483688,1.186971,1.517728,18.176435,60.288626,724.542476,1.860877,0.011402
min,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,917130.250000,917131.250000,54876.000000,0.030019,69.000000,0.000000,3.000000,0.181967,100.000000,0.000000,0.155970,0.280607,1.000000
50%,1834260.500000,1834261.500000,117769.000000,0.793896,100.000000,0.000000,4.000000,2.690125,100.000000,0.000000,0.283783,4.009111,1.000000
75%,2751390.750000,2751391.750000,184930.000000,1.745296,100.000000,2.151138,4.000000,3.565203,100.000000,0.000000,0.488201,4.293582,1.000000
max,3668521.000000,3668522.000000,262212.000000,2.496763,100.000000,4.980471,11.000000,4.981882,100.000000,58823.527344,1000000.000000,4.999999,1.000000

In [23]:
df.drate.mean()

# mean rate of Destination-to-source packets per second

0.4455046496689945

In [24]:
df.srate.mean()

# mean rate of Source-to-destination packets per second

2.9551111198337434

In [30]:
df['max'].value_counts().head(10)

# Maximum duration of aggregated records for top 10

0.000000    420732
0.000014       376
0.000015       328
0.000043       291
0.000047       290
0.000030       288
0.000032       288
0.000050       284
0.000041       284
0.000039       282
Name: max, dtype: int64

In [45]:
df.isnull().sum()

# geting number of null values from each column

Unnamed: 0           0
pkSeqID              0
proto                0
saddr                0
sport                0
daddr                0
dport                0
seq                  0
stddev               0
N_IN_Conn_P_SrcIP    0
min                  0
state_number         0
mean                 0
N_IN_Conn_P_DstIP    0
drate                0
srate                0
max                  0
attack               0
category             0
subcategory          0
dtype: int64

In [47]:
df.duplicated().sum()

# duplicates in dataset

0