# Data Wrangling and Analysis

#### This is the process of wrangling through the data we have and bring out insights available. 

#### Our prime aim of this phase is to analyise the entire dataset and bring out powerful insights which can help us to make out ML model better.

### Importing the libraries

In [1]:
import pandas as pd
import numpy as np

### Reading dataset to a dataframe

In [ ]:
df_original = pd.read_csv("../dataset/total.csv",sep=";")

### Wrangling data

In [8]:
df = df_original.copy()

# making an copy of original dataframe

In [9]:
df.head()

# getiing top few portion of dataset

,Unnamed: 0,pkSeqID,proto,saddr,sport,daddr,dport,seq,stddev,N_IN_Conn_P_SrcIP,min,state_number,mean,N_IN_Conn_P_DstIP,drate,srate,max,attack,category,subcategory
0,0,1,tcp,192.168.100.147,49960,192.168.100.7,80,9,0.068909,75,0.000000,1,0.068909,96,14.511893,0.566862,0.137818,1,DoS,HTTP
1,1,2,arp,192.168.100.7,-1,192.168.100.147,-1,10,0.000000,2,0.000131,2,0.000131,1,0.000000,0.000000,0.000131,1,DoS,HTTP
2,2,3,tcp,192.168.100.147,49962,192.168.100.7,80,11,0.064494,75,0.000000,1,0.064494,96,15.505319,0.567549,0.128988,1,DoS,HTTP
3,3,4,tcp,192.168.100.147,49964,192.168.100.7,80,12,0.064189,75,0.000000,1,0.064189,96,15.578993,0.567570,0.128378,1,DoS,HTTP
4,4,5,tcp,192.168.100.147,49966,192.168.100.7,80,13,0.063887,75,0.000000,1,0.063887,96,15.652637,0.567630,0.127774,1,DoS,HTTP

In [10]:
df.columns

# name of columns

Index(['Unnamed: 0', 'pkSeqID', 'proto', 'saddr', 'sport', 'daddr', 'dport',
       'seq', 'stddev', 'N_IN_Conn_P_SrcIP', 'min', 'state_number', 'mean',
       'N_IN_Conn_P_DstIP', 'drate', 'srate', 'max', 'attack', 'category',
       'subcategory'],
      dtype='object')

In [11]:
df.shape

# for understanding structure of dataset

(3668522, 20)

In [12]:
df.category.value_counts()

# for understanding categories of type of attacks

DDoS              1926624
DoS               1650260
Reconnaissance      91082
Normal                477
Theft                  79
Name: category, dtype: int64

In [14]:
df.subcategory.value_counts()

# for understanding subcategories of type of attacks

UDP                  1981230
TCP                  1593180
Service_Scan           73168
OS_Fingerprint         17914
HTTP                    2474
Normal                   477
Keylogging                73
Data_Exfiltration          6
Name: subcategory, dtype: int64

In [17]:
df.attack.value_counts()

# malicious packets available for classification

1    3668045
0        477
Name: attack, dtype: int64

In [29]:
df.proto.value_counts()

# for understanding protocols used.

udp          1996437
tcp          1662812
icmp            9052
arp              213
ipv6-icmp          8
Name: proto, dtype: int64

In [30]:
df.saddr.value_counts()

# Bots IP

192.168.100.147              950966
192.168.100.148              923290
192.168.100.150              890262
192.168.100.149              890146
192.168.100.3                  8281
192.168.100.5                  5118
192.168.100.6                   327
192.168.100.7                    43
192.168.100.4                    19
192.168.100.1                    16
192.168.100.46                   15
192.168.100.27                   14
fe80::250:56ff:febe:254           6
fe80::c0c0:aa20:45b9:bdd9         4
192.168.100.55                    3
fe80::250:56ff:febe:26db          2
fe80::2c6a:ff9b:7e14:166a         2
fe80::250:56ff:febe:c038          2
fe80::250:56ff:febe:bf1a          2
fe80::250:56ff:febe:e9d9          2
fe80::250:56ff:febe:89ee          2
Name: saddr, dtype: int64

In [32]:
df.daddr.value_counts()

192.168.100.3      2375733
192.168.100.5       451694
192.168.100.7       414859
192.168.100.6       412209
192.168.100.150       3860
                    ...
192.48.79.30             1
205.251.194.154          1
52.35.35.13              1
205.251.195.185          1
184.85.248.65            1
Name: daddr, Length: 84, dtype: int64

In [18]:
df.info()

# understanding type of data in each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3668522 entries, 0 to 3668521
Data columns (total 20 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   pkSeqID            int64
 2   proto              object
 3   saddr              object
 4   sport              object
 5   daddr              object
 6   dport              object
 7   seq                int64
 8   stddev             float64
 9   N_IN_Conn_P_SrcIP  int64
 10  min                float64
 11  state_number       int64
 12  mean               float64
 13  N_IN_Conn_P_DstIP  int64
 14  drate              float64
 15  srate              float64
 16  max                float64
 17  attack             int64
 18  category           object
 19  subcategory        object
dtypes: float64(6), int64(7), object(7)
memory usage: 559.8+ MB

In [26]:
pd.set_option('float_format', '{:f}'.format)
df.describe()

# understanding statistics behind our dataset

,Unnamed: 0,pkSeqID,seq,stddev,N_IN_Conn_P_SrcIP,min,state_number,mean,N_IN_Conn_P_DstIP,drate,srate,max,attack
count,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000
mean,1834260.500000,1834261.500000,121320.416125,0.887150,82.538483,1.017540,3.134390,2.231063,92.451680,0.445505,2.955111,3.020015,0.999870
std,1059011.226452,1059011.226452,75794.283785,0.803714,24.397394,1.483688,1.186971,1.517728,18.176435,60.288626,724.542476,1.860877,0.011402
min,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,917130.250000,917131.250000,54876.000000,0.030019,69.000000,0.000000,3.000000,0.181967,100.000000,0.000000,0.155970,0.280607,1.000000
50%,1834260.500000,1834261.500000,117769.000000,0.793896,100.000000,0.000000,4.000000,2.690125,100.000000,0.000000,0.283783,4.009111,1.000000
75%,2751390.750000,2751391.750000,184930.000000,1.745296,100.000000,2.151138,4.000000,3.565203,100.000000,0.000000,0.488201,4.293582,1.000000
max,3668521.000000,3668522.000000,262212.000000,2.496763,100.000000,4.980471,11.000000,4.981882,100.000000,58823.527344,1000000.000000,4.999999,1.000000