In [1]:
import pandas as pd
import numpy as np

In [2]:
df_orginal = pd.read_csv("../dataset/DDoSdata.csv")

/home/siddharth/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = df_orginal.copy()

In [4]:
df.head()

,Unnamed: 0,pkSeqID,stime,flgs,flgs_number,proto,proto_number,saddr,sport,daddr,...,AR_P_Proto_P_DstIP,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,AR_P_Proto_P_Sport,AR_P_Proto_P_Dport,Pkts_P_State_P_Protocol_P_DestIP,Pkts_P_State_P_Protocol_P_SrcIP,attack,category,subcategory
0,1650261,1650261,1.528103e+09,e,1,tcp,1,192.168.100.150,54110,192.168.100.3,...,1.21662,40,38,1.56093,1.21662,328,308,1,DDoS,HTTP
1,1650262,1650262,1.528103e+09,e,1,tcp,1,192.168.100.150,54112,192.168.100.3,...,1.21662,40,38,1.56107,1.21662,328,308,1,DDoS,HTTP
2,1650263,1650263,1.528103e+09,e,1,tcp,1,192.168.100.150,54114,192.168.100.3,...,1.21662,40,38,1.24980,1.21662,328,308,1,DDoS,HTTP
3,1650264,1650264,1.528103e+09,e,1,tcp,1,192.168.100.150,54116,192.168.100.3,...,1.21662,40,38,1.24986,1.21662,328,308,1,DDoS,HTTP
4,1650265,1650265,1.528103e+09,e,1,tcp,1,192.168.100.150,54118,192.168.100.3,...,1.21662,40,38,1.24991,1.21662,328,308,1,DDoS,HTTP

In [20]:
df.columns

Index(['Unnamed: 0', 'pkSeqID', 'stime', 'flgs', 'flgs_number', 'proto',
       'proto_number', 'saddr', 'sport', 'daddr', 'dport', 'pkts', 'bytes',
       'state', 'state_number', 'ltime', 'seq', 'dur', 'mean', 'stddev', 'sum',
       'min', 'max', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate',
       'drate', 'TnBPSrcIP', 'TnBPDstIP', 'TnP_PSrcIP', 'TnP_PDstIP',
       'TnP_PerProto', 'TnP_Per_Dport', 'AR_P_Proto_P_SrcIP',
       'AR_P_Proto_P_DstIP', 'N_IN_Conn_P_DstIP', 'N_IN_Conn_P_SrcIP',
       'AR_P_Proto_P_Sport', 'AR_P_Proto_P_Dport',
       'Pkts_P_State_P_Protocol_P_DestIP', 'Pkts_P_State_P_Protocol_P_SrcIP',
       'attack', 'category', 'subcategory'],
      dtype='object')

In [5]:
df.shape

(1927101, 47)

In [6]:
df.proto.unique()

array(['tcp', 'arp', 'udp', 'icmp', 'ipv6-icmp'], dtype=object)

In [7]:
df.flgs.value_counts()

e      1129681
e s     778517
e g      17825
e *        809
eU         247
e d         17
e &          5
Name: flgs, dtype: int64

In [16]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
df.stime.value_counts()

1528099338.27983    29
1528099353.01837    29
1528099339.51717    28
1528099327.20760    28
1528099323.15023    28
                    ..
1528102921.38342     1
1528099353.64484     1
1528099337.69590     1
1528099321.76411     1
1526348175.32554     1
Name: stime, Length: 187071, dtype: int64

In [17]:
df.flgs_number.unique()

array([1, 2, 4, 3, 5, 6, 7])

In [18]:
df.saddr.value_counts()[:5]

192.168.100.147    520012
192.168.100.148    494696
192.168.100.150    457002
192.168.100.149    451641
192.168.100.3        3625
Name: saddr, dtype: int64

In [19]:
df.daddr.value_counts()[:5]

192.168.100.3      1923162
192.168.100.147       1340
192.168.100.150       1317
192.168.100.149        583
192.168.100.148        250
Name: daddr, dtype: int64

In [38]:
df.sport.value_counts()[:5]

 80       3496
-1          81
 5353       43
 8612       32
 59552      32
Name: sport, dtype: int64

In [39]:
df.dport.value_counts()[:5]

80      1710165
80       212975
53          251
-1           81
5353         65
Name: dport, dtype: int64

In [36]:
df.pkts.value_counts()[:10]

7     296451
6     253330
5     208627
4     190894
8     188133
11    136129
15    135785
3     106442
10     87940
1      84317
Name: pkts, dtype: int64