# Data Wrangling and Analysis

#### This is the process of wrangling through the data we have and bring out insights available. 

#### Our prime aim of this phase is to analyise the entire dataset and bring out powerful insights which can help us to make out ML model better.

### Importing the libraries

In [1]:
import pandas as pd
import numpy as np

### Reading dataset to a dataframe

In [7]:
df_chunk = pd.read_csv("../dataset/combined.csv",nrows=1000)

# initial dataset has around 36 lakh rows so for easy wrangling to understand about the unwanted columns we take a chunk of dataset.

### Wrangling data

In [8]:
df = df_chunk.copy()

# making an copy of chunk dataframe

In [10]:
df.head()

# getting top few portion of dataset

,pkSeqID,stime,flgs,flgs_number,proto,proto_number,saddr,sport,daddr,dport,...,AR_P_Proto_P_DstIP,N_IN_Conn_P_DstIP,N_IN_Conn_P_SrcIP,AR_P_Proto_P_Sport,AR_P_Proto_P_Dport,Pkts_P_State_P_Protocol_P_DestIP,Pkts_P_State_P_Protocol_P_SrcIP,attack,category,subcategory
0,1,1.528089e+09,e,1,tcp,1,192.168.100.147,49960,192.168.100.7,80,...,1.12704,96,75,1.133720,1.129970,770,602,1,DoS,HTTP
1,2,1.528089e+09,e,1,arp,2,192.168.100.7,-1,192.168.100.147,-1,...,15267.20000,1,2,0.005142,0.005142,2,6,1,DoS,HTTP
2,3,1.528089e+09,e,1,tcp,1,192.168.100.147,49962,192.168.100.7,80,...,1.12704,96,75,1.135100,1.129970,770,602,1,DoS,HTTP
3,4,1.528089e+09,e,1,tcp,1,192.168.100.147,49964,192.168.100.7,80,...,1.12704,96,75,1.135140,1.129970,770,602,1,DoS,HTTP
4,5,1.528089e+09,e,1,tcp,1,192.168.100.147,49966,192.168.100.7,80,...,1.12704,96,75,1.135260,1.129970,770,602,1,DoS,HTTP

In [11]:
df.columns

# name of columns

Index(['pkSeqID', 'stime', 'flgs', 'flgs_number', 'proto', 'proto_number',
       'saddr', 'sport', 'daddr', 'dport', 'pkts', 'bytes', 'state',
       'state_number', 'ltime', 'seq', 'dur', 'mean', 'stddev', 'sum', 'min',
       'max', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate', 'drate',
       'TnBPSrcIP', 'TnBPDstIP', 'TnP_PSrcIP', 'TnP_PDstIP', 'TnP_PerProto',
       'TnP_Per_Dport', 'AR_P_Proto_P_SrcIP', 'AR_P_Proto_P_DstIP',
       'N_IN_Conn_P_DstIP', 'N_IN_Conn_P_SrcIP', 'AR_P_Proto_P_Sport',
       'AR_P_Proto_P_Dport', 'Pkts_P_State_P_Protocol_P_DestIP',
       'Pkts_P_State_P_Protocol_P_SrcIP', 'attack', 'category', 'subcategory'],
      dtype='object')

In [12]:
df.shape

# for understanding structure of dataset

(1000, 46)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 46 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   pkSeqID                           1000 non-null   int64
 1   stime                             1000 non-null   float64
 2   flgs                              1000 non-null   object
 3   flgs_number                       1000 non-null   int64
 4   proto                             1000 non-null   object
 5   proto_number                      1000 non-null   int64
 6   saddr                             1000 non-null   object
 7   sport                             1000 non-null   int64
 8   daddr                             1000 non-null   object
 9   dport                             1000 non-null   int64
 10  pkts                              1000 non-null   int64
 11  bytes                             1000 non-null   int64
 12  state                             1000 non-null   object
 13  state_number                      1000 non-null   int64
 14  ltime                             1000 non-null   float64
 15  seq                               1000 non-null   int64
 16  dur                               1000 non-null   float64
 17  mean                              1000 non-null   float64
 18  stddev                            1000 non-null   float64
 19  sum                               1000 non-null   float64
 20  min                               1000 non-null   float64
 21  max                               1000 non-null   float64
 22  spkts                             1000 non-null   int64
 23  dpkts                             1000 non-null   int64
 24  sbytes                            1000 non-null   int64
 25  dbytes                            1000 non-null   int64
 26  rate                              1000 non-null   float64
 27  srate                             1000 non-null   float64
 28  drate                             1000 non-null   float64
 29  TnBPSrcIP                         1000 non-null   int64
 30  TnBPDstIP                         1000 non-null   int64
 31  TnP_PSrcIP                        1000 non-null   int64
 32  TnP_PDstIP                        1000 non-null   int64
 33  TnP_PerProto                      1000 non-null   int64
 34  TnP_Per_Dport                     1000 non-null   int64
 35  AR_P_Proto_P_SrcIP                1000 non-null   float64
 36  AR_P_Proto_P_DstIP                1000 non-null   float64
 37  N_IN_Conn_P_DstIP                 1000 non-null   int64
 38  N_IN_Conn_P_SrcIP                 1000 non-null   int64
 39  AR_P_Proto_P_Sport                1000 non-null   float64
 40  AR_P_Proto_P_Dport                1000 non-null   float64
 41  Pkts_P_State_P_Protocol_P_DestIP  1000 non-null   int64
 42  Pkts_P_State_P_Protocol_P_SrcIP   1000 non-null   int64
 43  attack                            1000 non-null   int64
 44  category                          1000 non-null   object
 45  subcategory                       1000 non-null   object
dtypes: float64(15), int64(24), object(7)
memory usage: 359.5+ KB

In [17]:
df.columns

Index(['pkSeqID', 'stime', 'flgs', 'flgs_number', 'proto', 'proto_number',
       'saddr', 'sport', 'daddr', 'dport', 'pkts', 'bytes', 'state',
       'state_number', 'ltime', 'seq', 'dur', 'mean', 'stddev', 'sum', 'min',
       'max', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate', 'drate',
       'TnBPSrcIP', 'TnBPDstIP', 'TnP_PSrcIP', 'TnP_PDstIP', 'TnP_PerProto',
       'TnP_Per_Dport', 'AR_P_Proto_P_SrcIP', 'AR_P_Proto_P_DstIP',
       'N_IN_Conn_P_DstIP', 'N_IN_Conn_P_SrcIP', 'AR_P_Proto_P_Sport',
       'AR_P_Proto_P_Dport', 'Pkts_P_State_P_Protocol_P_DestIP',
       'Pkts_P_State_P_Protocol_P_SrcIP', 'attack', 'category', 'subcategory'],
      dtype='object')

In [18]:
df.flgs

0      e
1      e
2      e
3      e
4      e
      ..
995    e
996    e
997    e
998    e
999    e
Name: flgs, Length: 1000, dtype: object

In [19]:
df.state

0      RST
1      CON
2      RST
3      RST
4      RST
      ...
995    RST
996    RST
997    RST
998    RST
999    RST
Name: state, Length: 1000, dtype: object

In [21]:
df.ltime.value_counts()

1.528089e+09    14
1.528089e+09    13
1.528089e+09    12
1.528089e+09     9
1.528089e+09     8
                ..
1.528089e+09     1
1.528089e+09     1
1.528089e+09     1
1.528089e+09     1
1.528089e+09     1
Name: ltime, Length: 663, dtype: int64

In [22]:
df.seq

0         9
1        10
2        11
3        12
4        13
       ...
995    1004
996    1005
997    1006
998    1007
999    1008
Name: seq, Length: 1000, dtype: int64

## We can see that pkSeqID(sequence id), stime(Record start time), flgs(flag represting letter), proto(we already have proto number), saddr(ip of sender), sport(port of sender), daddr(ip of receiver), dport(ip of receiver),state(we already have state number),seq(Argus sequence number and not required), ltime(record time and not required), subcategory, category (not required as we will later filter it out with 1 and 0 for DDoS alone).These are the basic features captured by wireshark.
## The rest are generated flow features and we need them for classification.

In [ ]:
df.drop(['pkSeqID', 'stime', 'flgs', 'flgs_number',], axis=1, inplace=True)

In [23]:
df.columns

Index(['pkSeqID', 'stime', 'flgs', 'flgs_number', 'proto', 'proto_number',
       'saddr', 'sport', 'daddr', 'dport', 'pkts', 'bytes', 'state',
       'state_number', 'ltime', 'seq', 'dur', 'mean', 'stddev', 'sum', 'min',
       'max', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate', 'drate',
       'TnBPSrcIP', 'TnBPDstIP', 'TnP_PSrcIP', 'TnP_PDstIP', 'TnP_PerProto',
       'TnP_Per_Dport', 'AR_P_Proto_P_SrcIP', 'AR_P_Proto_P_DstIP',
       'N_IN_Conn_P_DstIP', 'N_IN_Conn_P_SrcIP', 'AR_P_Proto_P_Sport',
       'AR_P_Proto_P_Dport', 'Pkts_P_State_P_Protocol_P_DestIP',
       'Pkts_P_State_P_Protocol_P_SrcIP', 'attack', 'category', 'subcategory'],
      dtype='object')

In [24]:
df_try = pd.read_csv("../dataset/testing.csv",nrows=1000)

In [13]:
df.category.unique()

# for understanding categories of type of attacks

array(['DoS'], dtype=object)

In [42]:
df.subcategory.unique()

# for understanding subcategories of type of attacks

array(['HTTP', 'TCP', 'UDP', 'Normal', 'OS_Fingerprint', 'Service_Scan',
       'Data_Exfiltration', 'Keylogging'], dtype=object)

In [9]:
df.attack.value_counts()

# malicious packets available for classification

1    3668045
0        477
Name: attack, dtype: int64

In [41]:
df.proto.unique()

# for understanding protocols used.

array(['tcp', 'arp', 'udp', 'icmp', 'ipv6-icmp'], dtype=object)

In [11]:
df.saddr.value_counts()

# Bots IP

192.168.100.147              950966
192.168.100.148              923290
192.168.100.150              890262
192.168.100.149              890146
192.168.100.3                  8281
192.168.100.5                  5118
192.168.100.6                   327
192.168.100.7                    43
192.168.100.4                    19
192.168.100.1                    16
192.168.100.46                   15
192.168.100.27                   14
fe80::250:56ff:febe:254           6
fe80::c0c0:aa20:45b9:bdd9         4
192.168.100.55                    3
fe80::250:56ff:febe:26db          2
fe80::250:56ff:febe:c038          2
fe80::250:56ff:febe:e9d9          2
fe80::2c6a:ff9b:7e14:166a         2
fe80::250:56ff:febe:89ee          2
fe80::250:56ff:febe:bf1a          2
Name: saddr, dtype: int64

In [19]:
df.daddr.value_counts().head(10)

# top destination IPs

192.168.100.3      2375733
192.168.100.5       451694
192.168.100.7       414859
192.168.100.6       412209
192.168.100.150       3860
192.168.100.147       3658
192.168.100.149       3111
192.168.100.148       2969
8.8.8.8                 60
192.168.217.2           59
Name: daddr, dtype: int64

In [13]:
df.info()

# understanding type of data in each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3668522 entries, 0 to 3668521
Data columns (total 20 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   pkSeqID            int64
 2   proto              object
 3   saddr              object
 4   sport              object
 5   daddr              object
 6   dport              object
 7   seq                int64
 8   stddev             float64
 9   N_IN_Conn_P_SrcIP  int64
 10  min                float64
 11  state_number       int64
 12  mean               float64
 13  N_IN_Conn_P_DstIP  int64
 14  drate              float64
 15  srate              float64
 16  max                float64
 17  attack             int64
 18  category           object
 19  subcategory        object
dtypes: float64(6), int64(7), object(7)
memory usage: 559.8+ MB

In [14]:
pd.set_option('float_format', '{:f}'.format)
df.describe()

# understanding statistics behind our dataset

,Unnamed: 0,pkSeqID,seq,stddev,N_IN_Conn_P_SrcIP,min,state_number,mean,N_IN_Conn_P_DstIP,drate,srate,max,attack
count,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000,3668522.000000
mean,1834260.500000,1834261.500000,121320.416125,0.887150,82.538483,1.017540,3.134390,2.231063,92.451680,0.445505,2.955111,3.020015,0.999870
std,1059011.226452,1059011.226452,75794.283785,0.803714,24.397394,1.483688,1.186971,1.517728,18.176435,60.288626,724.542476,1.860877,0.011402
min,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,917130.250000,917131.250000,54876.000000,0.030019,69.000000,0.000000,3.000000,0.181967,100.000000,0.000000,0.155970,0.280607,1.000000
50%,1834260.500000,1834261.500000,117769.000000,0.793896,100.000000,0.000000,4.000000,2.690125,100.000000,0.000000,0.283783,4.009111,1.000000
75%,2751390.750000,2751391.750000,184930.000000,1.745296,100.000000,2.151138,4.000000,3.565203,100.000000,0.000000,0.488201,4.293582,1.000000
max,3668521.000000,3668522.000000,262212.000000,2.496763,100.000000,4.980471,11.000000,4.981882,100.000000,58823.527344,1000000.000000,4.999999,1.000000

In [23]:
df.drate.mean()

# mean rate of Destination-to-source packets per second

0.4455046496689945

In [24]:
df.srate.mean()

# mean rate of Source-to-destination packets per second

2.9551111198337434

In [30]:
df['max'].value_counts().head(10)

# Maximum duration of aggregated records for top 10

0.000000    420732
0.000014       376
0.000015       328
0.000043       291
0.000047       290
0.000030       288
0.000032       288
0.000050       284
0.000041       284
0.000039       282
Name: max, dtype: int64

In [45]:
df.isnull().sum()

# geting number of null values from each column

Unnamed: 0           0
pkSeqID              0
proto                0
saddr                0
sport                0
daddr                0
dport                0
seq                  0
stddev               0
N_IN_Conn_P_SrcIP    0
min                  0
state_number         0
mean                 0
N_IN_Conn_P_DstIP    0
drate                0
srate                0
max                  0
attack               0
category             0
subcategory          0
dtype: int64

In [47]:
df.duplicated().sum()

# duplicates in dataset

0

## Initial analyisis of dataset

This include answering basic questions of dataset and changing the dataset accordingly for further analysis.